@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Archivo:ital,wght@0,100..900;1,100..900&family=Bilbo+Swash+Caps&family=Inter:opsz,wght@14..32,500&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tiro+Devanagari+Marathi:ital@0;1&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Archivo", serif;
    background-color: #f4f4f4;
    overflow: hidden;
}

#bgc {
    width: 100%;
    height: 100%;
    background: url(../img/IMG_20250509_215012_423.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.mb-box {
    width: 100%;
    max-width: 540px;
    z-index: 2;
}

.bb {
    width: 100%;
    max-height: 80vh;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #999;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
}

.bb h2 {
    margin: 15px auto 0px;
    padding: 20px 0px 10px;
    width: 90%;
    font-size: 22px;
    text-align: center;
    color: #ffffff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.bb_text {
    padding: 20px 30px;
    text-indent: 2em;
    line-height: 32px;
    font-size: 18px;
    color: #ffffff;
    overflow: auto;
    white-space: pre-wrap;
}

.bb_myname {
    text-align: right;
    padding: 0px 30px 20px;
    line-height: 30px;
    color: #ffffff;
}

@media screen and (max-width: 600px) {
    .bb {
        max-height: 90vh;
    }

    .bb_text {
        padding: 20px 20px;
        font-size: 16px;
        line-height: 28px;
    }
}